<footer>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium perspiciatis quas excepturi dolor eum molestiae magnam ut nisi cumque, qui quos earum quod est officiis suscipit voluptate ipsam ad similique?
    </p>
</footer>