/* div{
    border: 1px solid black;
    transform: translate(-100px, -20px);
} */
/*
 div{
    border: 1px solid black;
    transform: scale(2, 0.5);
} */

/* div{
    border: 1px solid black;
    transform: rotate(90deg);
} */
/* ///////////////////////////////////////////////// */
/* div{
    border: 1px solid black;
    transition: all 2s;
    width:100px;
}
div:hover{
   width:300px;
} */
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
/* div{
    border: 1px solid black;
    transition: width 2s;
    width:100px;
}
div:hover{
   width:300px;
} */
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
/* div{
    border: 1px solid black;
    transition: height 2s;
    width:100px;
}
div:hover{
   width:300px;
} */
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
div{
    border: 1px solid black;
    animation: mymove 3s infinite;
    width:100px;
    height: 100px;
    background-color: salmon;
}
@keyframes mymove {
    0%   {transform: translate(0,0);}
    20%   {transform: translate(100px,0);}
   40%   {transform: translate(100px,100px);}
   60%   {transform: translate(0px,100px);}
   100%   {transform: translate(0px,0px);}
  
}
/* ///////////////////////////////////////////////// */